@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/GTWalsheimPro-Regular.eot");
  src: local("/fonts/GT Walsheim Pro Regular"), local("GTWalsheimPro-Regular"),
    url("/fonts/GTWalsheimPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("/fonts/GTWalsheimPro-Regular.woff") format("woff"),
    url("/fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/GTWalsheimPro-Bold.eot");
  src: local("/fonts/GT Walsheim Pro Bold"), local("GTWalsheimPro-Bold"),
    url("/fonts/GTWalsheimPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GTWalsheimPro-Bold.woff2") format("woff2"),
    url("/fonts/GTWalsheimPro-Bold.woff") format("woff"),
    url("/fonts/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("/fonts/GTWalsheimPro-Medium.eot");
  src: local("/fonts/GT Walsheim Pro Medium"), local("GTWalsheimPro-Medium"),
    url("/fonts/GTWalsheimPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GTWalsheimPro-Medium.woff2") format("woff2"),
    url("/fonts/GTWalsheimPro-Medium.woff") format("woff"),
    url("/fonts/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia_pro_regular-webfont.woff2") format("woff2"),
    url("/fonts/sofia_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply flex justify-center items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-[1300px];
  }
  .title {
    @apply text-nightBlue text-[30px] font-bold;
  }
  .sub {
    @apply text-dusk font-normal text-[15px];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .maskTrusted {
    -webkit-mask-image: url("/trusted-bg.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url("/trusted-bg.png");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}
.splide__arrow {
  opacity: 1 !important;
  background: transparent !important;
  top: 115%;
}
.splide__pagination {
  bottom: initial;
  top: 112.5%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 0px !important;
}
.splide__pagination__page.is-active {
  background-color: #6440fb !important;
  transform: scale(1) !important;
}
.splide__pagination__page {
  background-color: #e4e7ea !important;
  opacity: 1 !important;
  width: 8px !important;
  height: 8px !important;
}
